* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
/* banner styles  */
.banner-container {
  background-image: url(../images/banner/banner3.png);
  width: 100%;
  height: 100vh;
  color: white;
  position: absolute;
}
.banner {
  float: right;
  text-align: right;
  width: 440px;
  padding: 150px;
}

.banner-title {
  font-weight: 700;
  font-size: 60px;
  padding-bottom: 24px;
}
.banner-discription {
  line-height: 26px;
  padding-bottom: 32px;
}
.btn-banner {
  color: #005fac;
  font-weight: 600;
  font-size: 20px;
  padding: 15px 30px;
  border-radius: 10px;
  border: 0;
}

/* failures styles  */

.failures-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 750px;
  gap: 60px;
}
.failures-container img {
  height: 650px;
}
.failures {
  width: 400px;
  padding-top: 50px;
}
.failures-title {
  color: #151414;
  font-weight: 700;
  font-size: 37px;
  line-height: 47px;
  padding-bottom: 20px;
}
.failures-discription {
  padding-bottom: 20px;
  line-height: 26px;
}
.failures-discription,
.item {
  color: #444343;
}
.item {
  list-style: none;
  line-height: 35px;
}
.item i {
  color: #16d887;
  padding-right: 10px;
}

/* plans styles  */
hr{
  text-align: center;
  background-color: #0483eb;
  height: 2px;
  width: 60%;
  margin:150px  auto;
}

.plan-title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  padding-bottom: 50px;
}
.plans {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin: 0px 70px;
}
.plan h3 {
  font-weight: 700;
  padding-bottom: 16px;
  padding-top: 24px;
  color: #151414;
}
.plan p {
  color: #737272;
}

/* call styles  */
.call-container {
  background-image: linear-gradient(
      to right,
      rgba(1, 61, 190, 0.884),
      rgba(172, 206, 238, 0.418)
    ),
    url(../images/watch.png);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  width: 1000px;
  height: 300px;
  margin: 100px auto;
}
.call {
  padding: 100px;
}
.title {
  font-size: 30px;
  padding-bottom: 17px;
  color: white;
}
.btn-call {
  color: #005fac;
  font-size: 20px;
  font-weight: 600;
  padding: 15px 30px;
  border-radius: 5px;
  border: 0;
}

/* footer section styles  */
.footer-container {
  background-color: black;
  color: white;
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contact-details {
  width: 30%;
}
.contact-details h1 {
  padding-bottom: 10px;
}
.contact-details p {
  padding-bottom: 20px;
}
.contact-details ul {
  display: flex;
}
.contact-details ul li {
  list-style: none;
  border-radius: 50%;
  padding-right: 20px;
}

/* subscribe styles  */
.subscribe-container h2 {
  padding-bottom: 30px;
}
input {
  width: 200px;
  padding: 10px 0 10px 10px;
  background-color: black;
  border: 2px solid white;
  border-radius: 5px;
  margin-bottom: 20px;
}
.subscribe-btn {
  color: white;
  background-color: #005fac;
  font-size: 20px;
  font-weight: 600;
  padding: 15px 30px;
  border-radius: 5px;
  border: 0;
}
/* extra card section styles  */
.card-container{
  display: flex;
  gap: 40px;
  justify-content: center;
  padding: 100px 0;
  
}
.card{
  width: 300px;
  border-radius: 10px;
  background-color: rgba(194, 218, 241, 0.192);
  box-shadow:4px 0px 17px gainsboro ;
}
.card-detail{
  padding: 30px 20px ;
}
.card img{
  width: 300px;
  border-radius: 10px;
}
.card h2{
  /* padding-top: 20px; */
  padding-bottom: 15px;
}
.card p{
  line-height: 24px;
}