* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
/* banner styles  */
.banner-container {
  background-image: url(../images/banner/banner3.png);
  width: 100%;
  height: 100vh;
  color: white;
  position: absolute;
}
.banner {
  float: right;
  text-align: right;
  width: 440px;
  padding: 150px;
}

.banner-title {
  font-weight: 700;
  font-size: 60px;
  padding-bottom: 24px;
}
.banner-discription {
  line-height: 26px;
  padding-bottom: 32px;
}
.btn-banner {
  color: #005fac;
  font-weight: 600;
  font-size: 20px;
  padding: 15px 30px;
  border-radius: 10px;
  border: 0;
}

/* failures styles  */

.failures-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 750px;
  gap: 60px;
}
.failures-container img {
  height: 650px;
}
.failures {
  width: 400px;
  padding-top: 50px;
}
.failures-title {
  color: #151414;
  font-weight: 700;
  font-size: 37px;
  line-height: 47px;
  padding-bottom: 20px;
}
.failures-discription {
  padding-bottom: 20px;
  line-height: 26px;
}
.failures-discription,
.item {
  color: #444343;
}
.item {
  list-style: none;
  line-height: 35px;
}
.item i {
  color: #16d887;
  padding-right: 10px;
}

/* plans styles  */

.plan-title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  padding-top: 150px;
  padding-bottom: 50px;
}
.plans {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin: 0px 70px;
}
.plan h3 {
  font-weight: 700;
  padding-bottom: 16px;
  padding-top: 24px;
  color: #151414;
}
.plan p {
  color: #737272;
}
